//container parameters; ensure these are OK for your system
//NB containers are defined per process below
//NBB bind to where your data is extant at least!
//NBBB set cacheDir to actual value that already exists
//NBBBB ensure enabled, autoMounts are available on your system

singularity {

  enabled = true
  autoMounts = true
  cacheDir = "/your/cache/dir"
  runOptions = "--bind /:/"

}

params {

  //path to containers for NF script
  containerPath = "${singularity.cacheDir}"

  //NB that task.memory causes some tools to fail, so using these predefs here
  //system-specific, check availability of resources
  full_javamem = "-Xmx120g"
  half_javamem = "-Xmx60g"
  quarter_javamem = "-Xmx30g"
  eighth_javamem = "-Xmx15g"
  twentieth_javamem = "-Xmx5g"

  //for ordering output plots from somaticConsensusVariants
  includeOrder = null

}

process {

  //containers per process
  $bbduke.container = "shub://brucemoran/Singularity:bbduk.centos7"
  $fastp.container = "shub://brucemoran/Singularity:fastp.centos7"
  $bwamem.container = "shub://brucemoran/Singularity:bwa.centos7"
  $mrkdup.container = "shub://brucemoran/Singularity:picard-tools.centos7"
  $gtkrcl.container = "shub://brucemoran/Singularity:gatk4.docker"
  $mltmet.container = "shub://brucemoran/Singularity:picard-tools.centos7"
  $fctcsv.container = "shub://brucemoran/Singularity:facets.centos7"
  $factsR.container = "shub://brucemoran/Singularity:facets.centos7"
  $fctcon.container = "shub://brucemoran/Singularity:facets.centos7"
  $qdnasq.container = "shub://brucemoran/Singularity:qdnaseq.centos7"
  $msisen.container = "shub://brucemoran/Singularity:msisensor.centos7"
  $mutct2.container = "shub://brucemoran/Singularity:gatk4.docker"
  $mutct2_contam.container = "shub://brucemoran/Singularity:qdnaseq.centos7"
  $mntstr.container = "shub://brucemoran/Singularity:manta-strelka2.docker"
  $lancet.container = "shub://brucemoran/Singularity:lancet.centos7"
  $vcfGRa.container = "shub://brucemoran/Singularity:granges_vcf.centos7-r_3.5.1_ens"
  $mltiQC.container = "shub://brucemoran/Singularity:multiqc.centos7"

  //VEP container hosted on github.com/brucemoran/Singularity/tools/annotation/
  //too fat to build on shub, so built in NextFlow
  $vepann.container = "${params.containerPath}/vep-92.1.homo_sapiens_merged.grch37.centos7.simg"

  //NB agnostic labels; see NextFlow docs for specifics to run on PBS, slurm etc.
  withLabel: 40_120G_cpu_mem {
      cpus = 40
      memory = 120.GB
  }
  withLabel: 20_60G_cpu_mem {
      cpus = 20
      memory = 60.GB
  }
  withLabel: 10_30G_cpu_mem {
      cpus = 10
      memory = 30.GB
  }
  withLabel: 8_24G_cpu_mem {
      cpus = 8
      memory = 24.GB
  }
  withLabel: 5_15G_cpu_mem {
      cpus = 5
      memory = 15.GB
  }
  withLabel: 2_6G_cpu_mem {
      cpus = 2
      memory = 6.GB
  }
}
