/*
 * -------------------------------------------
 *  Nextflow base config file for exome_n-of-1
 * -------------------------------------------
 * Imported under the default 'standard' Nextflow
 * profile in: exome_n-of-1.nextflow.config
 */

params {

  //Java-specific memory requirements
  full_javamem = "-Xmx120g"
  half_javamem = "-Xmx60g"
  quarter_javamem = "-Xmx30g"
  eighth_javamem = "-Xmx15g"
  twentieth_javamem = "-Xmx5g"

  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h

  // Reference data as params
  fasta = Channel.fromPath("$params.refDir/*fasta").getVal()
  fai = Channel.fromPath("$params.refDir/*fasta.fai").getVal()
  dict = Channel.fromPath("$params.refDir/*dict").getVal()

  amb = Channel.fromPath("$params.refDir/*fasta.amb").getVal()
  ann = Channel.fromPath("$params.refDir/*fasta.ann").getVal()
  bwt = Channel.fromPath("$params.refDir/*fasta.bwt").getVal()
  pac = Channel.fromPath("$params.refDir/*fasta.pac").getVal()
  sa = Channel.fromPath("$params.refDir/*fasta.sa").getVal()

  twobit = Channel.fromPath("$params.refDir/*fasta.2bit").getVal()

  exomeintlist = Channel.fromPath("$params.refDir/exome.bed.interval_list").getVal()
  exomebed = Channel.fromPath("$params.refDir/exome.bed").getVal()
  exomebedgz = Channel.fromPath("$params.refDir/exome.bed.gz").getVal()
  exomebedgztbi = Channel.fromPath("$params.refDir/exome.bed.gz.tbi").getVal()

  dbsnp = Channel.fromPath("$params.refDir/dbsnp*.gz").getVal()
  dbsnptbi = Channel.fromPath("$params.refDir/dbsnp*.tbi").getVal()
  omni = Channel.fromPath("$params.refDir/KG_omni*.gz").getVal()
  otbi = Channel.fromPath("$params.refDir/KG_omni*.gz.tbi").getVal()
  kgp1 = Channel.fromPath("$params.refDir/KG_phase1*.gz").getVal()
  ktbi = Channel.fromPath("$params.refDir/KG_phase1*.gz.tbi").getVal()
  hpmp = Channel.fromPath("$params.refDir/hapmap*.gz").getVal()
  htbi = Channel.fromPath("$params.refDir/hapmap*.gz.tbi").getVal()

  cosmic = Channel.fromPath("$params.refDir/COSMIC_CGC.bed").getVal()
  ssrs = Channel.fromPath("$params.refDir/msisensor_microsatellites.list").getVal()
  gps = Channel.fromPath("$params.refDir/mutect2_GetPileupSummaries.vcf.gz").getVal()
  gpstbi = Channel.fromPath("$params.refDir/mutect2_GetPileupSummaries.vcf.gz.tbi").getVal()

  Channel.fromPath("$params.refDir/pcgr/", type: 'dir').into { CPSR; PCGR }
  params.cpsrpcgr = Channel.fromPath("$params.sampleMeta").getVal()

}

process {

  container = params.container

  cpus = { check_max( 1 * task.attempt, 'cpus') }
  memory = { check_max( 8.GB * task.attempt, 'memory') }
  time = { check_max( 2.h * task.attempt, 'time') }

}
